# Ignore arquivos e diretórios de build
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore ambientes virtuais
.venv/
env/
ENV/
venv/
venv.bak/

# Ignore arquivos de configuração do VS Code
.vscode/

# Ignore arquivos de log
logs/
*.log

# Ignore arquivos de banco de dados
*.sqlite3

# Ignore arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Ignore arquivos de configurações específicas de IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Ignore arquivos gerados pelo Poetry
poetry.lock